@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.red {
  color: var(--light-red);
}

.error-input {
  border: 1px solid var(--light-red);
}

.container {
  min-height: 100dvh;
  background-color: var(--off-white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5.75em;
}

main {
  background-color: var(--white);
  width: 93%;
  border-radius: 1em 1em 5.75em 1em;
  padding: 2.75em 1.25em 3em 1.25em;
}

.form-container {
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-grey);
  padding-bottom: 2.5em;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

label {
  font-size: 0.75rem;
  letter-spacing: 0.3em;
  color: var(--smokey-grey);
  margin-bottom: 0.25em;
}

input {
  font-size: 1.25rem;
  border-radius: 0.25em;
  border: 1px solid var(--light-grey);
  padding: 0.4em 0 0.425em 0.75em;
  width: 90%;
  margin-right: 0.5em;
  -moz-appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: var(--purple);
  border: 1px solid var(--purple);
}

.error {
  color: var(--light-red);
  font-weight: 400;
  font-style: italic;
  font-size: 0.8rem;
  margin-top: 0.5em;
  opacity: 0;
}

.arrow-button {
  position: relative;
  background-color: var(--purple);
  width: fit-content;
  padding: 1.25em;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  margin-top: -2.5em;
}

.arrow-button:hover {
  background-color: var(--off-black);
}

.arrow-button img {
  width: 2.25em;
  margin: 0 auto;
}

.result-container {
  margin-top: 2.75em;
}

.result-container h1 {
  font-size: 3.5rem;
  font-weight: 700;
  font-style: italic;
  line-height: 100%;
  letter-spacing: -0.025em;
}

.result {
  color: var(--purple);
}

@media all and (min-width: 800px) {
  .container {
    padding-top: 0;
    align-items: center;
  }

  main {
    max-width: 58%;
    padding: 0;
    border-radius: 1.25em 1.25em 7em 1.25em;
    padding: 3.5em;
  }

  .inputs {
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 0;
  }

  .input-container {
    padding-bottom: 1em;
    width: 25%;
    margin-right: 1em;
  }

  label {
    font-size: 0.9rem;
  }

  input {
    font-size: 2rem;
    margin-right: 0;
  }

  .error {
    font-size: 0.95rem;
  }

  .arrow-button {
    padding: 2em;
    margin-left: auto;
    margin-right: 0;
    margin-top: -3em;
  }

  .arrow-button img {
    width: 3em;
  }

  .result-container {
    margin-top: 0;
  }

  .result-container h1 {
    font-size: 6.65rem;
    line-height: 110%;
  }
}